<sw-page class="pc-pro-lib-item-list">
    <template #search-bar>
        <sw-search-bar
                initial-search-type="pc_pro_lib_item"
                :initial-search="term"
                @search="onSearch"
        />
    </template>

    <template slot="smart-bar-header">
        <h2>
            {{ $tc('pc-pro-lib-item.general.title') }}
        </h2>
    </template>

    <template slot="smart-bar-actions">
        <sw-button variant="primary" :routerLink="{ name: 'pc.pro.lib.item.create' }">
            {{ $tc('pc-pro-lib-item.buttons.newButtonText') }}
        </sw-button>
    </template>

    <template #language-switch>
        <sw-language-switch @on-change="changeLanguage"/>
    </template>

    <template slot="content">
        <sw-entity-listing
                v-if="entitySearchable"
                detailRoute="pc.pro.lib.item.detail"
                :items="items"
                :repository="repository"
                :showSelection="true"
                :columns="columns"
                :is-loading="isLoading"
                :criteria-limit="limit"
                :sort-by="currentSortBy"
                :sort-direction="sortDirection"
                :disable-data-fetching="true"
                @page-change="onPageChange"
                @column-sort="onSortColumn"
        >
            <template #preview-name="{ item }">
                <sw-media-preview-v2 :source="item.media"></sw-media-preview-v2>
            </template>
        </sw-entity-listing>
    </template>
</sw-page>
