{% block pc_accessory_form %}
    <div class="pc-accessory-form">
        <sw-card :title="$tc('pc-accessory-form.cardSettings')">
            <sw-single-select
                    :label="$tc('pc-accessory-form.properties.type')"
                    v-model="item.type"
                    :options="typeOptions"
                    :disabled="!item.isNew()"
            />

            <sw-field type="switch" bordered :label="$tc('pc-accessory-form.properties.active')" v-model="item.active"/>
            <sw-field type="number" :label="$tc('pc-accessory-form.properties.priority')" v-model="item.priority"/>
            <sw-field type="textarea" :label="$tc('pc-accessory-form.properties.internalNote')" v-model="item.internalNote"/>
            <sw-field type="text" :label="$tc('pc-accessory-form.properties.technicalName')" v-model="item.technicalName"/>
            <slot name="settings"/>
        </sw-card>

        <sw-card :title="$tc('pc-accessory-form.cardGeneral')">
            <div class="sw-field">
                <sw-upload-listener
                        :uploadTag="item.id"
                        autoUpload
                        @media-upload-finish="setMediaItem">
                </sw-upload-listener>
                <sw-media-upload-v2
                        :uploadTag="item.id"
                        defaultFolder="product"
                        :source="item.mediaId"
                        :allowMultiSelect="false"
                        :label="$tc('pc-accessory-form.properties.media')"
                        variant="regular"
                        @sw-media-upload-media-upload-success="setMediaItem"
                        @media-drop="onDropMedia"
                        @media-upload-sidebar-open="onOpenMediaModal"
                        @media-upload-remove-image="onUnlinkMedia">
                </sw-media-upload-v2>
            </div>

            <sw-field :label="$tc('pc-accessory-form.properties.name')" v-model="item.name" required validation="required" :error="itemNameError"/>
            <sw-field type="textarea" :label="$tc('pc-accessory-form.properties.helpText')" v-model="item.helpText"/>
            <sw-text-editor :label="$tc('pc-accessory-form.properties.shortDescription')" v-model="item.shortDescription"/>
            <sw-entity-tag-select :label="$tc('sw-customer.baseForm.labelTags')" v-model="item.tags"/>

            <sw-media-modal-v2
                    v-if="isVisible('mediaId')"
                    variant="regular"
                    v-if="mediaModalIsOpen"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :allowMultiSelect="false"
                    @media-upload-remove-image="onUnlinkMedia"
                    @media-modal-selection-change="onSelectionChanges"
                    @modal-close="onCloseModal"
            />

            <slot name="general"/>
        </sw-card>
    </div>
{% endblock %}
