<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Settings</title>

        <input-field type="int">
            <name>invoiceCommission</name>
            <label>Invoice commission, %</label>
        </input-field>

        <input-field type="int">
            <name>cashOnDeliveryCommission</name>
            <label>Cash on delivery commission, %</label>
        </input-field>

        <input-field type="int">
            <name>paidInAdvanceCommission</name>
            <label>Paid in advance commission, %</label>
        </input-field>

        <input-field type="int">
            <name>directDebitCommission</name>
            <label>Direct debit commission, %</label>
        </input-field>

    </card>
</config>