{% block sw_condition_value_content %}
    <div class="customer-has-vat-id-rule">
        {% block acris_customer_has_vat_id %}
            <sw-single-select size="medium" :options="selectValues" v-model="customerHasVatId"></sw-single-select>
        {% endblock %}
    </div>
{% endblock %}
