<sw-page class="pc-accessory-group-detail">
    <template slot="smart-bar-header">
        <h2>{{ item.name }}</h2>
    </template>

    <template slot="smart-bar-actions">
        <sw-button :routerLink="{ name: 'pc.accessory.group.list' }">
            {{ $tc('pc-accessory-group.buttons.cancelButtonText') }}
        </sw-button>

        <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
            {{ $tc('pc-accessory-group.buttons.saveButtonText') }}
        </sw-button-process>

        <sw-button
                variant="primary"
                @click="onClickNewOption"
        >
            {{ $tc('pc-accessory-group.buttons.newOption') }}
        </sw-button>
    </template>

    <template #language-switch>
        <sw-language-switch
                slot="language-switch"
                :disabled="item && item.isNew()"
                @on-change="onChangeLanguage"
        />
    </template>

    <template slot="content">
        <sw-card-view v-if="item">
            <sw-tabs defaultItem="general">
                <template slot-scope="{ active }">
                    {% block accessory_group_detail_tabs %}
                        <sw-tabs-item name="general"
                                      :activeTab="active">
                            {{ $tc('pc-accessory-group.cards.general') }}
                        </sw-tabs-item>

                        <sw-tabs-item name="options"
                                      :activeTab="active"
                                      :disabled="item && item.isNew()">
                            {{ $tc('pc-accessory-group.cards.options') }}
                        </sw-tabs-item>

                        <sw-tabs-item name="assignment"
                                      :activeTab="active"
                                      :disabled="item && item.isNew()">
                            {{ $tc('pc-accessory-group.cards.assignment') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template slot="content" slot-scope="{ active }">
                    {% block accessory_group_detail_content %}
                        <pc-accessory-form v-if="active === 'general'" :item="item">
                            <template slot="settings">
                                <sw-field type="switch" bordered :label="$tc('pc-accessory-group.properties.multipleSelection')" v-model="item.multipleSelection"/>
                                <sw-field type="switch" bordered :label="$tc('pc-accessory-group.properties.scalingStack')" v-model="item.scalingStack"/>
                                <sw-field type="switch" bordered :label="$tc('pc-accessory-group.properties.activeProductLib')" v-model="item.activeProductLib"/>
                            </template>
                        </pc-accessory-form>

                        <pc-accessory-group-option-list
                                v-if="active === 'options'"
                                :accessoryGroupId="item.id"
                        />
                    {% endblock %}
                </template>
            </sw-tabs>
        </sw-card-view>
    </template>
</sw-page>
